input{
    width: -webkit-fill-available;
    border: 1px solid #e8e8e8;
    padding: 6px 12px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 5px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}